*.sh linguist-detectable=false
*.py linguist-detectable=false
*.txt linguist-detectable=false
*.c linguist-detectable=false
*Starlark linguist-detectable=false
*Make linguist-detectable=false
*CMake linguist-detectable=false
*.c++ linguist-detectable=true
