*.md linguist-detectable=false
*.plist linguist-detectable=false
*.vcxproj linguist-detectable=false
*.filters linguist-detectable=false
*.props linguist-detectable=false
*Makefile linguist-detectable=false
*LICENSE linguist-detectable=false
*.am linguist-detectable=false
*.sh linguist-detectable=false
*.in linguist-detectable=false
*.cmake linguist-detectable=false
*.cmake.in linguist-detectable=false
*.m4 linguist-detectable=false
*.txt linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.py linguist-detectable=false
*.ac linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.c++ linguist-detectable=true
